<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
    <header th:fragment="navbar" class="site-header">
        <div class="nav-container">
            <!-- 왼쪽 -->
            <div class="nav-left">
                <a class="logo" th:href="@{/}">RankCat</a>
            </div>

            <!-- 오른쪽 -->
            <div class="nav-right">
                <span id="navGreeting" class="greeting"></span>
                <div id="navAuthArea" class="auth-area"></div>
            </div>
        </div>
        <script type="module" th:src="@{/js/navbar.js}"></script>
    </header>
</body>
</html>